.app {
    height: 100vh;
    width: 100vw;
}

.ymaps-2-1-78-map-copyrights-promo {
    display: none !important;
}

.ymaps-2-1-78-copyright {
    display: none !important;
}

.ymaps-2-1-78-controls__control {
    margin-top: 20vh;
}