.authForm {
    &__title {
        width: 100%;
        text-align: center;
        padding: 0px 0px 20px 0px;
        font-weight: bold;
    }

    &__link {
        font-size: 14px;
        color: #1890FF;
        width: 100%;
        text-align: center;

       &:hover {
            cursor: pointer;
        }
    }
}