.map-view {
    z-index: 2;
    height: 300px;
    width: 95%;

    position: absolute;
    left: 2.5%;
    bottom: 2.5%;

    border-radius: 10px;

    background-color: #ffffff;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    overflow: hidden;

    &__left {
        display: inline-block;
        width: calc(50% - 30px);
        position: absolute;
        left: 5px;
        top: 5px;
    }

    &__right {
        display: inline-block;
        width: 50%;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .monument__name {
        font-weight: bold;
    }
}

.photo {
    height: 90% !important;
    width: 200px !important;
    display: inline !important;
}

.name {
    font-weight: bold;
}

.ant-carousel .slick-dots li.slick-active button {
    background: #1890ff !important;
}

.ant-carousel-vertical .slick-dots li button {
    background: #02080e !important;
}